@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root{
    --preto: #000000;
    --laranja: #ffa600;
    --laranja-hover:#b86200;
    --cinza: #ffffff57;
    --cinza-escuro: #121113;
    --cinza-claro: #dedddd;
    --branco: #fff;
    --cor-do-ponto: #f2ca7f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Montserrat', sans-serif;
    
    min-height: 100vh;

    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);
}

.barra-topo span{
    font-size: 1.5rem;
}

.player{
    text-align: center;
}

.img-musica{
    max-height: 100%;
    max-width: 100%;
}

.img-musica img{
    border-radius: 10%;   
}

.musica{
    background-color: var(--preto);
    border-radius: 40px;
    text-align: center;
    padding: 40px;
    margin-top: -80px;
    box-shadow: 6px 32px 24px -7px rgba(0,0,0,0.23);
}

.sobre-musica{
    text-align: center;
    margin: 60px 0;
    position: relative;
    border-radius: 50px;
    padding: 10px;
}

.nome{
    font-size: 2rem;
    color: var(--branco);
}

.artista{
    font-size: 1.5rem;
    color: var(--laranja);
}

/*  --- BARRA DE DURAÇÃO --- */ 

.barra{
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--laranja);
    margin-bottom: 5px;
    margin-top: -45px;
}

progress{
    height: 3px;
    width: 0%;
}

.ponto{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--cor-do-ponto);
    margin-left: -2px;
}

.tempo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tempo span{
    font-size: 0.9rem;
}

/* --- CONTROLES --- */

.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.controles i{
    user-select: none;
}

/* ---------- BOTÕES ---------- */

.bx-play, .bx-pause{
    font-size: 4rem;
}

.bx-skip-previous, .bx-skip-next{
    font-size: 2.5rem;
}

.bx{
    cursor: pointer;
}

.bx:hover {
    color: var(--laranja);
}

.bx-play:hover, .bx-pause:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.bx:active{
    color: var(--laranja-hover);
}

/* --  MEDIA QUERIES  --*/

@media screen and (max-width: 300px) {

body{
    margin-top: 40px;
    background: var(--preto);
}

.musica{
    background: none;
    box-shadow: none;
}
.img-musica img{
    width: 80%;
}

.nome{
    font-size: 1.5rem;
}

.artista{
    font-size: 0.9rem;
}

.duracao{
    margin-top: 100px;
}

.controles{
    margin-top: 80px
}

.bx{
    text-align: center;
    border-radius: 50%;
    padding: 8px;
}

.bx-pause, .bx-play{
    font-size: 5rem;
}

.bx-skip-next, .bx-skip-previous{
    font-size: 3rem;
}

}


